.contain {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #eaeaea;
  position: relative;
}

.chatMain {
  position: relative;
  top: 50%;
  margin: auto;
  margin-top: -40vh;
  width: 65vw;
  height: 80vh;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  box-shadow: #ccc 5px 5px 15px;
}

.head {
  border-radius: 6px 6px 0px 0px;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #f0f5fb;
}

.head .search {
  height: 75px;
  line-height: 75px;
  display: inline-block;
  position: relative;
  left: 75px;
  width: 200px;
}

.main {
  height: calc(100% - 76px);
  widows: 100%;
}

.main .list {
  float: left;
  width: 229px;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}

.main .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main .list ul li {
  position: relative;
  height: 75px;
  background: #fff;
  transition: 0.35s;
  -moz-transition: 0.35s;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  cursor: pointer;
}

.main .list ul li:hover {
  background-color: #f6f6f6;
}

.main .list ul li .head {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 10px;
  left: 15px;
  background-color: #eaeaea;
  border: none;
  overflow: hidden;
}

.main .list ul li .head::before {
  position: relative;
  top: 13px;
  left: 16px;
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ccc;
}

.main .list ul li .head::after {
  position: relative;
  top: 7px;
  left: 7px;
  content: "";
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 70% 70% 0 0;
  background: #ccc;
}

.main .list ul li .name {
  position: absolute;
  display: inline-block;
  max-width: 135px;
  font-weight: 400;
  font-size: 13pt;
  left: 85px;
  top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .list ul li .message {
  position: absolute;
  display: inline-block;
  width: 135px;
  font-size: 9pt;
  color: #aaa;
  left: 85px;
  top: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .chatArea {
  position: relative;
  height: 100%;
  background: #fff;
  margin-left: 230px;
  width: calc(100% - 230px);
  border-bottom-right-radius: 6px;
}

.main .chatArea .targetName {
  height: 65px;
  width: 100%;
  line-height: 65px;
  background: #f9f9f9;
  overflow: hidden;
}

.main .chatArea .targetName span {
  margin-left: 15px;
  font-size: 16pt;
  color: black;
}

.main .chatArea .dialogArea {
  width: 100%;
  height: 63%;
  background: white;
}

.main .chatArea .inputWin {
  border-top: 1px solid #ccc;
  width: 100%;
  height: calc(37% - 65px);
  border-bottom-right-radius: 6px;
  /* background-color: #F0F5FB; */
}

.main .chatArea .inputWin .toolbar {
  height: 34px;
}

.main .chatArea .inputWin .toolbar span {
  display: inline-block;
  height: 34px;
  width: 34px;
  text-align: center;
  cursor: pointer;
  line-height: 34px;
  transition: 0.35s;
  margin: 0;
  padding: 0;
}

.main .chatArea .inputWin .toolbar span:hover {
  background-color: #eaeaea;
}

/* 文本输入框 */

.main .chatArea .inputWin textarea {
  width: calc(100% - 30px);
  height: calc(100% - 64px);
  padding: 10px;
  margin: 0;
  border: none;
  outline: none;
  font-size: 13pt;
  font-family: "微软雅黑";
  font-weight: 100;
  resize: none;
  border-bottom-right-radius: 6px;
}

.dialogArea .dialog {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dialogArea .dialog li {
  margin: 0;
  padding: 0;
}

.dialogArea .dialog .other .head {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  left: 10px;
  top: 5px;
}

.dialogArea .dialog li{
  position: relative;
  margin-top: 10px;
}

.dialogArea .dialog .other .dialogue {
  position: relative;
  top: 5px;
  left: 40px;
  display: inline-block;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 6px;
  font-family: "微软雅黑";
  font-size: 9pt;
  margin-left: 15px;
  max-width: 50%;
  word-wrap: break-word;
}

.dialogArea .dialog .other .dialogue::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 12px solid #e1e1e1;
  border-bottom: 4px solid transparent;
  transform: rotate(12deg);
}

.dialogArea .dialog .other .dialogue::after{
  content: " ";
  display: inline-block;
}  

.dialogArea .dialog .mine .dialogue {
  position: absolute;
  top: 5px;
  right: 55px;
  display: inline-block;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 6px;
  font-family: "微软雅黑";
  font-size: 9pt;
  margin-left: 15px;
  max-width: 50%;
  word-wrap: break-word;
}

.dialogArea .dialog .mine .dialogue::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 12px solid #e1e1e1;
  border-bottom: 4px solid transparent;
  transform: rotateY(180deg);
}

.dialogArea .dialog .mine .head {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  right: 10px;
  top: 5px;
}